=====================================================================
== the cdr channels test. assumes existance of cdr_const file
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 16, 256, 0, 0
Channel = /dev/stdout, /dev/stdout, 0, 0, 0, 512, 8192
Channel = PWD/result.log, /dev/stderr, 0, 0, 0, 512, 8192
Channel = PWD/cdr_empty.data, /dev/cdr_empty, 1, 512, 8192, 16, 36
Channel = PWD/cdr_stubbed.data, /dev/cdr_stubbed, 1, 512, 8192, 16, 35
Channel = PWD/cdr_scapegoat.data, /dev/cdr_scapegoat, 1, 512, 8192, 16, 16
Channel = PWD/cdr.nexe, /boot/elf, 1, 0x10000, 0x10000, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20140320
Memory = 33554432, 1
Timeout = 1

