=====================================================================
== the random read only channels test
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 16, 256, 0, 0
Channel = CURDIR/result.log, /dev/stdout, 0, 0, 0, 512, 8192
Channel = /dev/null, /dev/stderr, 0, 0, 0, 16, 256
Channel = CURDIR/ranro.data, /dev/ranro, 1, 32, 32, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = ranro.nexe
MemMax = 134217728
Timeout = 5

