=====================================================================
== the random read only channels test
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 16, 256, 0, 0
Channel = /dev/null, /dev/stdout, 0, 0, 0, 16, 256
Channel = PWD/result.log, /dev/stderr, 0, 0, 0, 512, 8192
Channel = PWD/ranro.data, /dev/ranro, 1, 32, 32, 0, 0
Channel = PWD/ranro.nexe, /boot/elf, 1, 0x10000, 0x10000, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20140509
Memory = 33554432, 1
Timeout = 1

