=====================================================================
== net copy functional test. 2nd collocutor
=====================================================================
Channel = tcp:1:, /dev/stdin, 0, 65536, 67108864, 0, 0
Channel = tcp:3:, /dev/stdout, 0, 0, 0, 65536, 67108864
Channel = CURDIR/stderr2.log, /dev/stderr, 0, 0, 0, 4096, 65536

=====================================================================
== zerovm settings
=====================================================================
Nexe = netcopy.nexe
NodeName = copier2, 2
NameServer = udp:127.0.0.1:54321
MemMax = 134217728
Timeout = 5
Version = 09082012
