=====================================================================
== net copy functional test. 1st collocutor
=====================================================================
Channel = PWD/netcopy.nexe, /dev/stdin, 0, 65536, 67108864, 0, 0
Channel = tcp:2:, /dev/stdout, 0, 0, 0, 65536, 67108864
Channel = PWD/stderr1.log, /dev/stderr, 0, 0, 0, 4096, 65536

=====================================================================
== zerovm settings
=====================================================================
Nexe = netcopy.nexe
NodeName = copier1, 1
NameServer = udp:127.0.0.1:54321
MemMax = 33554432
Timeout = 1
Version = 09082012
