=====================================================================
== net copy functional test. 2nd collocutor
=====================================================================
Channel = tcp:1:, /dev/stdin, 0, 1073741824, 4294967296, 0, 0
Channel = tcp:3:, /dev/stdout, 0, 0, 0, 1073741824, 4294967296
Channel = PWD/stderr2.log, /dev/stderr, 0, 0, 0, 1073741824, 4294967296

=====================================================================
== zerovm settings
=====================================================================
Version = 20130611
Program = netcopy.nexe
Memory = 33554432
Timeout = 10
Node = 2
NameServer = udp:127.0.0.1:54321

