=====================================================================
== net copy functional test. 1st collocutor
=====================================================================
Channel = PWD/input.data, /dev/stdin, 0, 1073741824, 4294967296, 0, 0
Channel = tcp:2:, /dev/stdout, 0, 0, 0, 1073741824, 4294967296
Channel = PWD/stderr1.log, /dev/stderr, 0, 0, 0, 0x10000, 0x100000
Channel = PWD/nvram1, /dev/nvram, 0, 1024, 8192, 0, 0

=====================================================================
== zerovm settings
=====================================================================
Version = 20140320
Program = netcopy.nexe
Memory = 33554432, 0
Timeout = 10
Node = 1
NameServer = udp:127.0.0.1:54321

