=====================================================================
== big one
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 0x100, 0x10000, 0, 0
Channel = /dev/stdout, /dev/stdout, 0, 0, 0, 0x100, 0x10000
Channel = /dev/stderr, /dev/stderr, 0, 0, 0, 0x100, 0x10000
Channel = PWD/big1.nexe, /boot/elf, 1, 0x10000, 0x10000, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20140509
Memory = 0x4000000, 0
Timeout = 1

