=====================================================================
== the random write only channels test
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 16, 256, 0, 0
Channel = /dev/null, /dev/stdout, 0, 0, 0, 16, 256
Channel = PWD/result.log, /dev/stderr, 0, 0, 0, 512, 8192
Channel = PWD/ranwo.data, /dev/ranwo, 2, 0, 0, 32, 32

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = ranwo.nexe
MemMax = 134217728
Timeout = 5
