=====================================================================
== the character device read only channels test
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 1, 16, 256, 0, 0
Channel = PWD/stderr.data, /dev/stdout, 0, 1, 0, 0, 32, 32
Channel = PWD/result.log, /dev/stderr, 0, 1, 0, 0, 512, 8192
Channel = /dev/stdin, /dev/charo, 0, 1, 32, 32, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20130611
Program = charo.nexe
Memory = 33554432, 1
Timeout = 1

