=====================================================================
== "environment" example. demo of the new user custom attributes design
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 16, 256, 0, 0
Channel = PWD/stdout.data, /dev/stdout, 0, 0, 0, 512, 8192
Channel = /dev/null, /dev/stderr, 0, 0, 0, 16, 256

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = environment.nexe
MemMax = 134217728
Timeout = 5

=====================================================================
== Environment and command line
=====================================================================
CommandLine = Aktyubinsk Tashkent Chirchiq Rassvet NaberezhnyeChelny Severobaykalsk Kazan TelAviv Giv'atayim RamatGan Pattaya
Environment = TimeStamp, 1337012520, Gort, klaato_barada_nikto
