=====================================================================
== dumps whole available user memory
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 65536, 4194304, 0, 0
Channel = PWD/dump.data, /dev/stdout, 0, 0, 0, 4194304, 4294967296
Channel = PWD/stderr.data, /dev/stderr, 0, 0, 0, 65536, 4194304

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20130611
Program = dump.nexe
Memory = 33554432
Timeout = 480

