=====================================================================
== the character device read only channels test
=====================================================================
Channel = PWD/accounting.nexe, /dev/stdin, 0, 1, 65536, 4194304, 0, 0
Channel = PWD/stdout.data, /dev/stdout, 0, 1, 0, 0, 65536, 4194304
Channel = PWD/result.log, /dev/stderr, 0, 1, 0, 0, 65536, 4194304

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20130611
Program = accounting.nexe
Memory = 33554432, 1
Timeout = 1
