=====================================================================
== the character device read only channels test
=====================================================================
Channel = CURDIR/accounting.nexe, /dev/stdin, 0, 65536, 4194304, 0, 0
Channel = CURDIR/stdout.data, /dev/stdout, 0, 0, 0, 65536, 4194304
Channel = CURDIR/stderr.data, /dev/stderr, 0, 0, 0, 65536, 4194304
=Channel = tcp:127.0.0.1:55555, input, 0, 65536, 4194304, 0, 0
=Channel = tcp:127.0.0.1:55555, output, 0, 0, 0, 65536, 4194304

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = accounting.nexe
NexeMax = 4194304
MemMax = 134217728
Timeout = 5

