=====================================================================
== snapshot engine test
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 65536, 4194304, 0, 0
Channel = /dev/stdout, /dev/stdout, 0, 0, 0, 4194304, 4294967296
Channel = /dev/stderr, /dev/stderr, 0, 0, 0, 65536, 4194304

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20140509
Program = snapshot.nexe
Memory = 33554432, 0
Timeout = 60

