#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
export PREFIX=/usr
export TAG_ENCRYPTION=G_CHECKSUM_MD5
export PREFETCH=zmq

%:
	dh $@ 

override_dh_strip:
	dh_strip -Xx86_64-nacl --dbg-package=zerovm-zmq-dbg

#override_dh_shlibdeps:
#	dh_shlibdeps -Xx86_64-nacl

#override_dh_makeshlibs:
#	dh_makeshlibs -Xx86_64-nacl

override_dh_auto_build:
	make debug
	cp $(CURDIR)/zerovm $(CURDIR)/zerovm-dbg
	make clean all

override_dh_auto_install:
	dh_auto_install
	cp $(CURDIR)/zerovm-dbg $(CURDIR)/debian/tmp/usr/bin/zerovm-dbg
