=====================================================================
== the sequential write only channels test
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 1, 16, 256, 0, 0
Channel = /dev/null, /dev/stdout, 0, 1, 0, 0, 16, 256
Channel = PWD/result.log, /dev/stderr, 0, 1, 0, 0, 512, 8192
Channel = PWD/seqwo.data, /dev/seqwo, 1, 1, 0, 0, 32, 32

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20130611
Program = seqwo.nexe
Memory = 33554432, 1
Timeout = 1

