=====================================================================
== "random generator" from "net" example with zvm api usage
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 268435456, 268435456, 0, 0
Channel = PWD/unsorted.data, /dev/stdout, 0, 0, 0, 268435456, 268435456
Channel = PWD/generator.stderr.log, /dev/stderr, 0, 0, 0, 268435456, 268435456
Channel = PWD/nvram_generator, /dev/nvram, 0, 1, 8192, 0, 0
Channel = PWD/generator.uint32_t.nexe, /boot/elf, 1, 0x10000, 0x10000, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20140509
Memory = 805306368, 0
Timeout = 120

