=====================================================================
== "random generator" from "net" example with zvm api usage
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 268435456, 268435456, 0, 0
Channel = PWD/unsorted.data, /dev/stdout, 0, 0, 0, 268435456, 268435456
Channel = PWD/generator.stderr.log, /dev/stderr, 0, 0, 0, 268435456, 268435456

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = generator.uint32_t.nexe
CommandLine = 268435456
Timeout = 30
MemMax = 805306368
