=====================================================================
== "bitonic sort" from "net" example with zvm api usage
=====================================================================
Channel = CURDIR/unsorted.data, /dev/stdin, 0, 999999999, 999999999, 0, 0
Channel = CURDIR/sorted.data, /dev/stdout, 0, 0, 0, 999999999, 999999999
Channel = CURDIR/sort.stderr.log, /dev/stderr, 0, 0, 0, 999999999, 999999999

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = sort_uint_proper_with_args.nexe
CommandLine = 268435456
Timeout = 30
MemMax = 805306368

