=====================================================================
== "tester" from "net" example with zvm api usage
=====================================================================
Channel = PWD/sorted.data, /dev/stdin, 0, 268435456, 268435457, 0, 0
Channel = /dev/null, /dev/stdout, 0, 0, 0, 268435456, 268435456
Channel = PWD/tester.stderr.log, /dev/stderr, 0, 0, 0, 268435456, 268435456

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = tester.uint32_t.nexe
CommandLine = 268435456
Timeout = 30
MemMax = 805306368
