0x1000




=====================================================================
== manifest for the forked process 
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 0x100, 0x10000, 0, 0
Channel = PWD/forked_out.log, /dev/stdout, 0, 0, 0, 0x100, 0x10000
Channel = PWD/forked_err.log, /dev/stderr, 0, 0, 0, 0x100, 0x10000
Channel = PWD/fork.nexe, /boot/elf, 1, 0x10000, 0x10000, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Timeout = 120
Node = 12
NameServer = udp:127.0.0.1:54321

Version = 20140320
Memory = 0x10000000, 0

