=====================================================================
== provokes signal
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 65536, 4194304, 0, 0
Channel = /dev/null, /dev/stdout, 0, 0, 0, 16, 256
Channel = PWD/result.log, /dev/stderr, 0, 0, 0, 65536, 4194304
Channel = PWD/nvram, /dev/nvram, 0, 1024, 8192, 0, 0
Channel = PWD/quota.data, quota.data, 0, 0, 0, 5368709120, 5368709120

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20140320
Program = signal.nexe
Memory = 33554432, 1
Timeout = 1

