=====================================================================
== provokes signal
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 65536, 4194304, 0, 0
Channel = CURDIR/stdout.data, /dev/stdout, 0, 0, 0, 65536, 4194304
Channel = /dev/null, /dev/stderr, 0, 0, 0, 65536, 4194304

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = signal.nexe
NexeMax = 4194304
MemMax = 134217728
Timeout = 5

