=====================================================================
== "biggest primal" generator
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 1, 1, 0, 0
Channel = PWD/primal.txt, /dev/stdout, 0, 0, 0, 0x100000000, 0x100000000
Channel = /dev/null, /dev/stderr, 0, 0, 0, 1, 1
Channel = PWD/primal.nexe, /boot/elf, 1, 0x10000, 0x10000, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20140509
Memory = 0x100000000, 0
Timeout = 600
