=====================================================================
== memory management test (zerovm support all 3 malloc's nacl_syscalls)
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 16, 256, 0, 0
Channel = CURDIR/result.log, /dev/stdout, 0, 0, 0, 1048576, 4194304
Channel = /dev/null, /dev/stderr, 0, 0, 0, 16, 256

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = memory.nexe
MemMax = 268435456
NodeName = test, 1
Timeout = 60
