=====================================================================
== copy data from the input channel to the output channel
=====================================================================
Channel = PWD/input.data, /dev/stdin, 0, 1073741824, 1073741824, 0, 0
Channel = PWD/output.data, /dev/stdout, 0, 0, 0, 1073741824, 1073741824
Channel = /dev/null, /dev/stderr, 0, 0, 0, 65536, 65536

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = copy.nexe
MemMax = 33554432
Timeout = 5
